In [1]:
# set env
import os
os.environ['SPARK_HOME'] = "/home/cloud_user/apps/spark/current"
os.environ['PYSPARK_DRIVER_PYTHON'] = 'jupyter'
os.environ['PYSPARK_DRIVER_PYTHON_OPTS'] = 'lab'
os.environ['PYSPARK_PYTHON'] = 'python'

In [3]:
# Import PySpark
from pyspark.sql import SparkSession

In [4]:
# Create SparkSession
spark = SparkSession.builder \
    .appName("data-from-json") \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/01/26 02:13:40 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

## Read Single-line Json file (one doc per line) (jsonl)

In [9]:
data_file_path = "./data/jsondata.jsonl"
df = spark.read.json(data_file_path)

In [10]:
df.printSchema()

root
 |-- _id: string (nullable = true)
 |-- address: struct (nullable = true)
 |    |-- postode: string (nullable = true)
 |    |-- street: string (nullable = true)
 |    |-- town: string (nullable = true)
 |-- description: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- email: string (nullable = true)
 |-- name: string (nullable = true)
 |-- pets: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- salary: long (nullable = true)
 |-- score: double (nullable = true)
 |-- telephone: string (nullable = true)
 |-- url: string (nullable = true)
 |-- verified: boolean (nullable = true)

In [11]:
df.show(5)

+----------------+--------------------+--------------------+----------+--------------------+----------------+------------------+------+-----+-----------------+--------------------+--------+
|             _id|             address|         description|       dob|               email|            name|              pets|salary|score|        telephone|                 url|verified|
+----------------+--------------------+--------------------+----------+--------------------+----------------+------------------+------+-----+-----------------+--------------------+--------+
|8ZDJ7JJPK4LFN2SH|{HR10 1YL, 2568 H...|offer purposes en...|2015-07-02|elissa-bonds@hotm...|     Selena High|   [Romeo, Bailey]| 13628|  1.1|+213-5637-126-628|  http://montana.com|    true|
|AQ4LAEZYGPUCKAG9|{SP5 8FR, 3656 Pa...|generated our lan...|2015-11-30|aleshia_marshall@...|  Madalyn Bernal|   [Lilly, Apollo]| 26392|  5.9|+255-4662-982-251|https://volunteer...|   false|
|ZS1S800XUJAPX53J|{WC4 0BP, 9270 Wi...|mg charging sharo...|2014-10-16|marline-alarcon@h...|    Demetra Alba|[Midnight, Shadow]| 47107|  8.4|+216-6024-252-842|  http://www.tap.com|   false|
|GNMTP3ODG3SR31PX|{TD9 4KF, 9029 O ...|require cameron p...|2014-09-29|lovemessenger@yah...|       Sal Riggs|   [Angel, Harley]| 21190|  5.7| +66-0335-951-687|http://www.brochu...|    true|
|87XJDY18USNMRG86|{AL59 1LV, 1809 W...|gambling ensuring...|2018-07-03|leida-carey-elder...|Norberto Pacheco|      [sox, Buddy]| 15901|  1.2| +34-8379-225-249|http://reason.ska...|    true|
+----------------+--------------------+--------------------+----------+--------------------+----------------+------------------+------+-----+-----------------+--------------------+--------+
only showing top 5 rows

## Multi-line JSON

In [20]:
data_file_path="./data/meteorites.json"
df = spark.read.json(data_file_path, multiLine=True)

In [21]:
df.printSchema()

root
 |-- :@computed_region_cbhk_fwbd: string (nullable = true)
 |-- :@computed_region_nnqa_25f4: string (nullable = true)
 |-- fall: string (nullable = true)
 |-- geolocation: struct (nullable = true)
 |    |-- coordinates: array (nullable = true)
 |    |    |-- element: double (containsNull = true)
 |    |-- type: string (nullable = true)
 |-- id: string (nullable = true)
 |-- mass: string (nullable = true)
 |-- name: string (nullable = true)
 |-- nametype: string (nullable = true)
 |-- recclass: string (nullable = true)
 |-- reclat: string (nullable = true)
 |-- reclong: string (nullable = true)
 |-- year: string (nullable = true)

In [22]:
df.show(1)

[Stage 10:>                                                         (0 + 1) / 1]

+---------------------------+---------------------------+----+--------------------+---+----+------+--------+--------+---------+--------+--------------------+
|:@computed_region_cbhk_fwbd|:@computed_region_nnqa_25f4|fall|         geolocation| id|mass|  name|nametype|recclass|   reclat| reclong|                year|
+---------------------------+---------------------------+----+--------------------+---+----+------+--------+--------+---------+--------+--------------------+
|                       NULL|                       NULL|Fell|{[6.08333, 50.775...|  1|  21|Aachen|   Valid|      L5|50.775000|6.083330|1880-01-01T00:00:...|
+---------------------------+---------------------------+----+--------------------+---+----+------+--------+--------+---------+--------+--------------------+
only showing top 1 row

In [23]:
spark.stop()